*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (max-width: 680px) {
  .desktop-nav {
    display: none !important;
  }
  .mobile-menu-btn {
    display: block !important;
  }
}
